.Header{
    display: flex;
    background-color:white;
    height: 8%;
    align-content: center;
    padding: 2%;
    border: 1px solid gray;
    justify-content: space-between;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    
}

.header-title{
    font-weight: bold;
    display: flex;
    align-content: center;
    
}

.header-order{
    color: gray;
    padding-right: 9%;
}

.header-basket{
    display: flex;
    font-size: 8px;
    
}

.header-basket-text{
    display: flex;
    flex-direction: column;
}
