.Header{
    display: flex;
    padding: 1%;
    border: 1px solid gray;
    justify-content: space-between;
    
}

.header-buttons{
    display: flex;
    flex-direction: row;
    
}

.header-title{
    font-weight: bold;
    display: flex;   
}

.header-order{
    color: gray;
    padding-right: 3%;
}

.header-basket{
    display: flex;
    font-size: 8px;
    
    
}

.header-basket-text{
    display: flex;
    flex-direction: column;
}
