.category-main{
    display: flex;
    flex-direction: column;
    padding-left:3%;
    padding-right:3%;
    flex-grow: 1;
}

.CategoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category-header{
    padding-top:2%;
    padding-bottom: 2%;
}