.category-main{
    display: flex;
    flex-direction: column;

}

.CategoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.category-header{
    padding-top:1%;
    padding-bottom: 1%;
    
}