.category-main{
    display: flex;
    flex-direction: column;

}

.CategoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.category-header{
    padding-top:2%;
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: lighter;
    
}